:root {
  --black2: rgb(20, 20, 20);
  --black: rgb(12, 12, 12);
  --blue: #14ffec;
  --dark-blue: #0d7377;
  --white: #fafafa;
  --white_hover: #dee2e6;
  --border: rgba(255, 255, 255, 0.1);
  --interest-box: rgb(8, 25, 44);
  --interest-box-hover: rgba(8, 25, 64);
  --portfolio-wrap: rgb(12, 12, 12, 0.6);
  --selection-white: #d3d3d3;
}
